@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap');

:root{
    --color-black:   #000;
    --color-white:   #fff;
    --color-white2:  #dfe6e9; 
    --color-orange:  #b28756;
    --color-gray:    #ecf0f1;
    --color-grayL:   #CCC;
    --color-grayL2:  #f1f2f6;
    --color-grayM:   #999;
    --color-grayM2:  #555;
    --color-grayD:   #333;
    --color-blue:    #00acee;
    --color-blue2:   #0e76a8;
    --color-blue3:   #3b5998;
    --color-red:     #db4a39;
    --color-red2:    #E60023;    ;
    


}

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

html{
    font-size: 62.5%;
}

body{
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    overflow-x: hidden;
    
}


/* CABEÇALHO */
header{
    background-color: var(--color-black);
    color: var(--color-white);
    height: 10rem;
}

.header{
    align-items: center;
    color: var(--color-white);
    display: flex;
    height: 10rem;
    margin: auto;
    max-width: 1580px;
}

.header__img{
    text-align: center;
    width: 12rem;
}

.header__menu{
    display: flex;
    flex: 1;
    justify-content: flex-end;
}

.header__menu ul,
.header__menu li{
    list-style: none;
}

.header__menu ul{
    display: flex;
    
}

.header__menu li a{
    color: var(--color-white);
    display: flex;
    flex-direction: column;
    font-size: 1.6rem;
    font-weight: 600;
    height: 10rem;
    justify-content: center;
    padding: 0px 1.5rem;
    text-decoration: none;
    text-transform: uppercase;
    
}

.header__menu li a:hover{
    color: var(--color-grayL);
}


.header__menu li a::before{
    content: '';
    background-color: var(--color-orange);
    width: 0px;
    height: 0.3rem;
    margin-bottom: 0.5rem;
    transition: width .1s cubic-bezier(0.250, 0.460, 0.450, 0.940);
}

.header__menu li a:hover::before{
    width: 100%;

}

.header__menu li a::after{
    content: '';
    background-color: var(--color-orange);
    width: 0px;
    height: 0.3rem;
    margin-top: 0.5rem;
    transition: width .1s cubic-bezier(0.250, 0.460, 0.450, 0.940);
}

.header__menu li a:hover::after{
    width: 100%;
}


/* BANNER PRINCIPAL */
.banner{
    background-color: var(--color-grayD);
    background-image: url(/assets/images/bg.jpg);
    background-position: center;
    background-size: cover;
    height: calc(100vh - 10rem);
    overflow: hidden;
}

.banner .banner__sliders{
    width: 1000vw;
    height: 100%;
 
}

.banner .banner__slide{
    background-color: rgba(0, 0, 0, 0.6);
    display: inline-block;
    width: 100vw;
    height: 100%;
    
}

.banner .slide__content{
    color: var(--color-white);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

.banner .slide__content h1{
    font-size: 5.5rem;
    text-transform: uppercase;
    font-weight: 700;
}

.banner .slide__content h1 span{
    color: var(--color-orange);
}

.banner .slide__content h2{
    text-transform: uppercase;
    margin-top: 2rem;
    font-size: 2.3rem;
}

.button{
    background-color:  var(--color-orange);
    border-radius: 3rem;
    border: 0.1rem solid var(--color-orange);
    color: var(--color-white);
    cursor: pointer;
    display: block;
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 5.5rem;
    overflow: hidden;
    padding: 1.5rem  5rem;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
}

.button::before{
    background: var(--color-white);
    bottom: 0px;
    content: "";
    filter: blur(0.8rem);
    left: -3.2rem;
    position: absolute;
    top: 0px;
    transform: rotate(-16deg);
    width: 0.8rem;
}

.button:hover::before{
    left: calc(100% + 3.2rem);
    transition: 0.75s;
}

.banner__circles__area{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 3rem;
    margin-top: -5rem;
}

.banner__circles{
    border: 0.2rem solid var(--color-orange);
    border-radius: 5rem;
    cursor: pointer;
    width: 1.5rem;
    height: 1.5rem;
    margin: 0px 0.7rem;
}

.banner__circles.banner__circles--active{
    background-color: var(--color-orange);
}

/* ESTRUTURA PADRÃO DO CONTEÚDO */
.default{
    padding-top: 4rem;
    padding-bottom: 6rem;

}

.default .section__title,
.default .section__desc{
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
}

.default .section__title{
    font-size: 2.8rem;
}

.default .section__desc{
    color: var(--color-grayM);
    font-size: 1.6rem;
    margin-top: 1rem;
    margin-bottom: 4rem;
}

.default .section__body{
    max-width: 1580px;
    margin: auto;
}

.default--light{
    background-color: var(--color-grayL2);
    padding-top: 5rem;
}

.default--light .section__title,
.default--light .section__body{
    color: var(--color-black);
}

.default--dark{
    background-color: var(--color-black);
    
}

.default--dark .section__title,
.default--dark .section__body{
    color: var(--color-white);
}


/* ÁREAS ESPECIFICAS  */
/* ABOUT-US */
.section-about-us{
    display: flex;
    margin-left: 3rem;
    margin-right: 3rem;
    margin-bottom: 4.5rem;
}

.section__left{
    flex: 1;
}

.section__left p{
    font-size: 1.6rem;
    line-height: 29px;
}

.section__left .button--section{
    margin-top: 3.5rem;
    padding: 1.3rem  5rem;
}

.section__right{
    width: 760px;
    text-align: center;
    
}

.section__right img{
    width: 440px;
    box-shadow: 5px 10px 10px var(--color-grayM);
    margin-left: 50px;
}


/* SERVICES */
.section-services{
    display: flex;
    margin-top: 4rem;
    margin-left: 3rem;
    margin-right: 3rem;
    margin-bottom: 2rem;
}

.section__service{
    border-left: 0.2rem solid var(--color-grayD);   
    flex: 1;
    line-height: 20px;
    text-align: center;
    padding: 1.2rem;
     
}

.section__service:last-child{
    border-right: 0.2rem solid var(--color-grayD);
}

.section__service img{
    margin-bottom: 3rem;
}

.section__service h4{
    font-size: 2rem;
    text-transform: uppercase;
}


.section__service p{
    font-size: 1.7rem;
    color: var(--color-grayM);
    margin-top: 1rem;
}


/* PROJECTS */
.section-projects{
    display: flex;   
    align-items: center;
    flex-direction: column;
}

.section__filters{
    border: 0.1rem solid var(--color-grayL);
    background-color: var(--color-gray);
    border-radius: 3rem;
    display: inline-block;
    padding: 0px 4rem;
}

.section__filters ul,
.section__filters li{
    list-style: none;
}

.section__filters li{
    border-right: 0.1rem solid var(--color-grayL);
    border-bottom: 0.2rem solid var(--color-gray);
    color: var(--color-grayD);
    display: inline-block;
    font-size: 1.7rem;
    padding: 1.7rem;
    text-transform: uppercase;
    cursor: pointer;
}

.section__filters li:last-child{
    border-right: 0;
}

.section__filters li:hover,
.section__filters .active{
    border-bottom: 0.4rem solid var(--color-orange);
}

.section__photos{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100vw;
    max-width: 1580px;
    margin-top: 2.6rem;
}

.section__photo{
    width: 28rem;
}

.section__photo__area{
    margin: 1rem;
    width: 26rem;
    height: 16rem;
    transform: scale(1);
    transition: transform 300ms ease;
}

.section__photo__area img{
    width: inherit;
    height: inherit;
}

.section__photo__desc{
    background-color: rgba(0, 0, 0, 0.6);
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    width: inherit;
    height: inherit;
}

.section__photo__desc a{
    color: var(--color-white);
    text-decoration: none;
    text-align: center;
}

.section__photo__desc h5{
    font-size: 1.9rem;
    font-weight: 600;
    text-transform: uppercase;
}

.section__photo__desc p{
    font-size: 1.4rem;
    line-height: 2rem;
    margin-top: 0.6rem;
    padding: 0px 1rem;
    
}

.section__photo__area:hover{
    transform: scale(1.1);
    transition: transform 200ms ease;
}

.section__photo__desc--active{
    display: flex;
}

.section__photo__area:hover .section__photo__desc{
    display: flex;
}

.button--projects{
    margin-top: 2rem;
    padding: 1.3rem  5rem;
}


/* TEAM */
.section-team-area{
    background-color: rgba(0, 0, 0, 0.8);
    padding: 4rem 0px;
}

.team-bg{
    background-image: url(/media/bg.jpg);
    background-size: cover;
    background-position: center;
    padding: 0;
}

.section-team{
    overflow: hidden;
    max-width: 109rem;
    margin: auto;
}

.section-team .banner__sliders{
    width: 1000vw;
    height: 100%;
 
}

.section-team .banner__slide{
    background-color: var(--color-white);
    display: inline-block;
    width: 35rem;
    height: 100%;
    min-height: 39rem;
    margin-right: 2rem;
    
}

.section-team .slide__content{
    color: var(--color-black);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

.banner__circles__area--team{
    margin-top: 5rem;
}

.section__team__avatar{
    width: 15rem;
    height: auto;
    margin-top: 4.5rem;
}

.section__team__name{
    color: var(--color-black);
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 4.5rem;
}

.section__team__role{
    color: var(--color-grayD);
    font-size: 1.2rem;
    margin-top: 0.7rem;
}

.section__team__social{
    display: flex;
    margin-top: 4.5rem;
}

.section__team__social a{
    background-color: var(--color-grayM);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 2.8rem;
    height: 2.8rem;
    margin-right: 1rem;
    border-radius: 15px;
}

.section__team__social a:hover{
    background-color: var(--color-orange);
}

.section__team__social .active{
    background-color: var(--color-orange);
}


/* HAPPY CLIENTS */
.testimonials{
    padding-bottom: 4rem;
}

.section-testimonials .slide__content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

.section__testimonials__avatar{
    width: 10rem;
}

.section__testimonials__name{
    font-weight: bold;
    font-size: 2rem;
    margin-top: 2rem;
}

.section__testimonials__role{
    font-size: 1.4rem;
}

.section__testimonials__quoteimg{
    width: 2rem;
    margin-top: 2.3rem;
}

.section__testimonials__quote{
    color: var(--color-grayM2);
    font-size: 1.3rem;
    margin-top: 1rem;
    max-width: 70rem;
    text-align: center;
    line-height: 2.2rem;
}

.banner__circles__area--testimonials{
    margin-top: 4rem;
}


/* COMPANIES */
.section-companies{
    border-top: 2px solid var(--color-grayL);
    border-bottom: 3px solid var(--color-grayL);
    padding-bottom: 4rem;
}

.companies__area{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 10rem;
}

/* PRICE TABLE */
.default--light--price{
    background-color: var(--color-white2);
}

.section-price-area{
    display: flex;
    justify-content: center;
    margin-left: 3rem;
    margin-right: 3rem;
}

.section-price-table{
    background-color: var(--color-white);
    display: inline-block;
    width: 36rem;
    height: 100%;
    min-height: 39rem;
    margin-right: 3rem;
    border-radius: 3px;
}

.section-price-table:last-child{
    margin-right: 0;   
}

.plans{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.plan__name{
    color: var(--color-black);
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 500;
    margin-top: 3rem
}

.plan__price{
    color: inherit;
    font-size: 3rem;
    font-weight: bold;
    margin-top: 1.5rem;
}

.plan__period{
    color: var(--color-grayM);
    font-size: 1rem;
    text-transform: uppercase;
    margin-bottom: 2rem;
}

.plan__desc h6{
    color: var(--color-grayM2);   
    font-weight: normal;
    font-size: 1.1rem;
}

.plan__desc h6:not(:last-child)::after{
    content: '';
    width: 7px;
    height: 1px;
    background: var(--color-black);
    display: block;
    margin: 10px auto;
}

.button--plans{
    background-color: var(--color-black);   
    padding: 1.4rem  4rem;
    margin-top: 3rem;
    margin-bottom: 4rem;
}

.button--plans:hover{
    background-color: var(--color-orange);
}

.active-plan{
    background-color: var(--color-orange);
}


/* PREMIUN */
.default--light--premiun{
    background-color: var(--color-white);

}


.premiun__area{
    border-bottom: 1px solid var(--color-grayL);
    display: flex;
    justify-content: center;
    height: auto;
    margin-top: 5rem;
}

.premiun__left{
    flex: 1;
    text-align: center;
}

.premiun__left img{
    padding-left: 10rem;
}   

.premiun__right{
    flex: 1;
}

.premiun__left,
.premiun__right{
    margin-bottom: 7rem;
}

.feature__area{
    display: flex;

}

.feature__items{
    margin-bottom: 2rem;
}

.feature_icon{
    margin-right: 3rem;
}

.feature_name{
    color: var(--color-black);
    font-size: 2rem;
    font-weight: 600;
    padding-bottom: 0.5rem;
    text-transform: uppercase;
}

.feature_desc{
    color: var(--color-grayM);
    font-size: 1.2rem;
    max-width: 47rem;
    line-height: 2.4rem;
}

.feature__info h6{
    color: var(--color-grayM);
    font-size: 1.5rem;
    font-weight: normal;
    text-transform: uppercase;
    margin-top: 1.2rem;
    line-height: 3rem;
}

.feature__info h6::before{
    content: '';
    display: inline-block;
    width: 13px;
    height: 1.5px;
    margin-right: 0.8rem;
    background: var(--color-grayM);
    vertical-align: middle;
}

.banner__circles__area--premiun{
    margin-top: 3.5rem;
}

.section-premiun .button{
    padding: 1.3rem 5rem;
    margin: auto;
    margin-top: 3rem;
    margin-bottom: 1.5rem;
}


/* SOME FACTS */
.section-facts{
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding: 0 4rem;
}

.section-fact{
   flex: 1;
}

.fact__line1{
    color: var(--color-orange);
    font-size: 5rem;
    font-weight: bold;
}

.fact__line1::after{
    content: '';
    background: var(--color-grayM2);
    display: block;
    width: 16px;
    height: 4px;
    margin: 0 auto;
    margin-top: 0.4rem;
    margin-bottom: 0.5rem;
}

.fact__line2{
    color: var(--color-white);
    font-size: 1.8rem;
    font-weight: 700;
    text-transform: uppercase;

}

.fact__line3{
    color: var(--color-grayL);
    font-size: 1.2rem;
    line-height: 2rem;
    margin-top: 2rem;
}


/* SHARE */
.section-share{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem 0;
    border-bottom: 1px solid var(--color-grayL);
}

.share__img{
    width: 3.4rem;
    height: 3.4rem;
    margin-right: 0.6rem;
}

.share__img img{
    padding-top: 0.5rem;

}

.share__desc{
    color: var(--color-grayM);
    font-size: 1.3rem;
    font-weight: bold;
    text-transform: uppercase;
    margin-right: 7rem;
}

.share__img__social{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 3.3rem;
    height: 3.3rem;
    margin-right: 0.8rem;
    border-radius: 20px;
}

.twitter{
    background-color: var(--color-blue);
}

.linkedin{
    background-color: var(--color-blue2);
}

.facebook{
    background-color: var(--color-blue3);
}

.googleplus{
    background-color: var(--color-red);
}

.pinterest{
    background-color: var(--color-red2);
}

.share__desc_count{
    color: var(--color-grayM);
    font-size: 1.1rem;
    font-weight: 700;
    margin-right: 3.5rem;
}


/* CONTACT US */
.section-contact-us{
    display: flex;
    justify-content: center;
    margin-top: 8rem;
}

.name__email input{
    border: none;
    border-bottom: 2px solid var(--color-grayM);
    width: 30rem;
    height: 3rem;
    padding: 2rem 0;
    outline: 0;
    background-color: transparent;
}

.name__email input::placeholder{
    color: var(--color-grayM);
    font-size: 1.5rem;
}

.name__email input:focus{
    font-size: 1.5rem;
    color: var(--color-grayM);
}


.name__email input:first-child{
    margin-right: 4rem;
}

.subject input{
    width: 100%;
    margin-top: 5rem;
}

.button__form{
    display: flex;
    justify-content: center;
}

.button--form{
    padding: 1.3rem  4rem;
}


/* MAP */
.default--map{
    background-image: url(/assets/images/map.jpg);
    background-size: cover;
    background-position: center;
    padding: 3.5rem 0;
}

.section-map{
    display: flex;
    justify-content: flex-start;
    width: 100%;
    margin-left: 3rem;
    margin-right: 3rem;
}

.map__info{    
    width: 50%;
    max-width: 70rem;
    height: 39rem;
    background-color: var(--color-white);
    padding-top: 6rem;
    padding-left: 5rem;
}

.map__items{
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}

.map__img{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 3.3rem;
    height: 3.3rem;
    background-color: var(--color-grayM);
    border-radius: 20px;
    margin-right: 1.5rem;
}

.map__items span{
    font-size: 1.5rem;
    color: var(--color-grayM2);
}


/* FOOTER */
.default--footer{
    background-color: var(--color-black);
    padding-top: 5rem;
}

.section-footer{
    display: flex;
    height: 27rem;
    margin-left: 3rem;
    margin-right: 3rem;
}

.footer__right__area{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer__right{
    display: flex;
    align-items: center;
}

.right__items{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4.5rem;
    height: 4.5rem;
    background-color: var(--color-grayD);
    border-radius: 30px;
    margin-right: 2rem;
    cursor: pointer;
}

.right__items h5{
    color: var(--color-white);
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 1.4rem;
    
}

.right__items:hover{
    background-color: var(--color-orange);
}

.right__items--active{
    background-color: var(--color-orange);
}

.copy__right h4{
    color: var(--color-white);
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
}

.footer__center{
    flex: 1;
    color: var(--color-grayL);
    text-align: left;
    font-size: 1.5rem;
    overflow-x: hidden;
}

.footer__center h4{
    font-weight: 500;
    line-height: 3.4rem;
}

.footer__left{
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.footer__form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--color-grayD);
    width: 80%;
    height: 100%;
    border-radius: 4px;
}


.footer__form .input{
    border: none;
    border-bottom: 2px solid var(--color-grayL);
    width: 80%;
    height: 3rem;
    padding: 2rem 0;
    outline: 0;
    background-color: transparent;
    caret-color: var(--color-orange);
}

.footer__form .input::placeholder{
    color: var(--color-grayL);
    font-size: 1.5rem;
    text-align: center;
}

.footer__form .input:focus{
    font-size: 1.5rem;
    color: var(--color-white);
}




/* SCROLLBAR */
::-webkit-scrollbar{
    width: 7px;
}

::-webkit-scrollbar-thumb{
    background-color: var(--color-orange);
    border-radius: 1px;
}